.loginDiv {
    text-align: center;
    width: 50%;
    padding: 10px;
    float: none;
    margin: auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
