<div class="d-flex caja">
    <div class="degradado text-center">
        <img [src]="getAvatar()" alt="Avatar del usuario" class="mb-4 avatar">
        <h2 class="text-light">{{getUsername()}}</h2>
        <img src="./assets/img/logoTMDB.png" alt="Logotipo de la web" class="w-75">
    </div>
    <div class="menu">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mt-5">
            <li [ngbNavItem]="1">
                <button ngbNavLink>Favorite</button>
                <ng-template ngbNavContent>
                    <div class="lists">
                        <div class="container">
                            <div class="row">
                                <app-movie-item-list class="item col-4 pt-5" *ngFor="let m of movieListFavorite"
                                    [movie]="m"></app-movie-item-list>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <button ngbNavLink>Watch List</button>
                <ng-template ngbNavContent>
                    <div class="lists">
                        <div class="container">
                            <div class="row">
                                <app-movie-item-list class="item col-4 pt-5" *ngFor="let m of movieListWatchList"
                                    [movie]="m"></app-movie-item-list>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <button ngbNavLink>Custom Lists</button>
                <ng-template ngbNavContent>
                    <button type="button" class="btn btn-light ms-3" (click)="createModal(createCustomList)">Create new
                        list</button>
                    @for (cl of movieCustomList; track $index) {
                    <div class="listItem rounded-3 m-3 p-2 d-flex">
                        <p class="text-light">{{cl.name}}</p>
                        <button type="button" class="btn btn-light ms-3" (click)="deleteList(cl.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                        </button>
                        <button type="button" class="btn btn-light ms-3" (click)="listDetails(cl.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-info-square" viewBox="0 0 16 16">
                                <path
                                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                <path
                                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                            </svg>
                        </button>
                    </div>
                    }
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>

<ng-template #createCustomList let-modal>
    <div class="modal-header bg-dark">
        <h4 class="modal-title text-white" id="modal-basic-title">Create Custom List</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form id="newCustomList" [formGroup]="newCustomList" (ngSubmit)="createNewList()">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea id="description" rows="5" cols="33" formControlName="description" class="form-control">
                    It was a dark and stormy night...
                </textarea>
            </div>
            <button type="submit" class="btn btn-outline-dark" form="newCustomList">Save</button>
        </form>
    </div>
</ng-template>