<div class="card rounded p-4" style="width: 750px;">
    <div class="d-flex">
        <div>
            <h5 class="card-title">Alice Liddel</h5>
            <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized in
                HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
            <a href="#" class="btn btn-primary stretched-link">View Profile</a>
        </div>
        <div>
            <img src="https://lh3.googleusercontent.com/drive-storage/AKHj6E62d96tDW-EQNx-PvBQ8obs4zVwYBbRNGeAyv5-hGH-uIwxD62aW8OcDkjsxCzLoI05UbuZvC5w7TXRIQgBPR0iC-_JL6Z_XntBd7_ffw=w1920-h931"
                class="card-img" alt="...">
        </div>
    </div>

</div>