<div class="container mt-5">
        <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-6 col-md-3 bg-secondary rounded-4">

                        <div class="justify-content-center">
                                <table class="table table-dark mt-3">
                                        <tr>
                                                <td colspan="4"><input type="text" name="operacion" id="operacion"
                                                                class="col-xs-12 col-sm-12 col-md-12"
                                                                [value]="operacion" /></td>
                                        </tr>
                                        <tr>
                                                <td><input type="button" id="btn7" value="7" class="btn btn-secondary"
                                                                (click)="agregarNumero('7')" /></td>
                                                <td><input type="button" id="btn8" value="8" class="btn btn-secondary"
                                                                (click)="agregarNumero('8')" /></td>
                                                <td><input type="button" id="btn9" value="9" class="btn btn-secondary"
                                                                (click)="agregarNumero('9')" /></td>
                                                <td><input type="button" id="btnDivide" value="/" class="btn btn-info"
                                                                (click)="agregarNumero('/')" /></td>
                                        </tr>
                                        <tr>
                                                <td><input type="button" id="btn4" value="4" class="btn btn-secondary"
                                                                (click)="agregarNumero('4')" /></td>
                                                <td><input type="button" id="btn5" value="5" class="btn btn-secondary"
                                                                (click)="agregarNumero('5')" /></td>
                                                <td><input type="button" id="btn6" value="6" class="btn btn-secondary"
                                                                (click)="agregarNumero('6')" /></td>
                                                <td><input type="button" id="btnMult*" value="*" class="btn btn-info"
                                                                (click)="agregarNumero('*')" /></td>
                                        </tr>
                                        <tr>
                                                <td><input type="button" id="btn1" value="1" class="btn btn-secondary"
                                                                (click)="agregarNumero('1')" /></td>
                                                <td><input type="button" id="btn2" value="2" class="btn btn-secondary"
                                                                (click)="agregarNumero('2')" /></td>
                                                <td><input type="button" id="btn2" value="3" class="btn btn-secondary"
                                                                (click)="agregarNumero('3')" /></td>
                                                <td><input type="button" id="btnRest" value="-" class="btn btn-info"
                                                                (click)="agregarNumero('-')" /></td>
                                        </tr>
                                        <tr>
                                                <td><input type="button" id="btn0" value="0" class="btn btn-secondary"
                                                                (click)="agregarNumero('0')" /></td>
                                                <td><input type="button" id="btnIgual" value="=" class="btn btn-info"
                                                                (click)="calcular()" /></td>
                                                <td><input type="button" id="btnC" value="C" class="btn btn-danger"
                                                                (click)="borrar()" /></td>
                                                <td><input type="button" id="suma" value="+" class="btn btn-info"
                                                                (click)="agregarNumero('+')" /></td>
                                        </tr>
                                </table>
                        </div>
                </div>
        </div>
</div>