<div class="container">
    <h1>Listado Alumnos</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>ID</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Módulos Matriculados</th>
                <th>Tipo de Matrícula</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alumno of alumnos">
                <td>{{alumno.nombre}}</td>
                <td>{{alumno.apellidos}}</td>
                <td>{{alumno.id}}</td>
                <td>{{alumno.edad}}</td>
                <td>
                    <i [ngClass]="obtenerIconoSexo(alumno.sexo)"></i>
                </td>
                <td>
                    <ul>
                        <li *ngFor="let modulo of alumno.modulos">
                            {{modulo.nombre}} {{modulo.horas}}
                        </li>
                    </ul>
                </td>
                <td>{{alumno.tipoMatricula}}</td>
            </tr>
        </tbody>
    </table>
</div>