<div id="form">
    <div class="mb-3">
        <input type="text" class="form-control" id="nombre" placeholder="nombre" [(ngModel)]="nombre">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="apellidos" placeholder="apellidos" [(ngModel)]="apellidos">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="nif" placeholder="NIF" [(ngModel)]="nif">
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" id="email" placeholder="email" [(ngModel)]="email">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="tlf" placeholder="Teléfono" [(ngModel)]="tlf">
    </div>
    <div class="mb-3">
        <select class="form-select" aria-label="Selecione un sexo" [(ngModel)]="sexo">
            <option selected>Selecione un sexo</option>
            <option value="1">Hombre</option>
            <option value="2">Mujer</option>
        </select>
    </div>
    <div class="mb-3">
        <select class="form-select" aria-label="Selecione una opción" [(ngModel)]="conocido">
            <option selected>Selecione una opción</option>
            <option value="1">Buscando en Google</option>
            <option value="2">A través de un amigo</option>
            <option value="2">Profesor</option>
        </select>
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" id="password" placeholder="password" [(ngModel)]="passw">
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" id="password" placeholder="password" [(ngModel)]="passwConf">
    </div>
    <button (click)="enviar()" type="btn" class="btn btn-primary">Submit</button>
</div>