<div class="list-group list-group-horizontal position-relative overflow-auto">
    <ng-container *ngFor="let m of moviePopularList">
        <app-movie-popular-item class="list-group-item" [moviePopular]="m"
            (movieClick)="openModal($event, moviePopularModal)"></app-movie-popular-item>
    </ng-container>
</div>

<ng-template #moviePopularModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{selectedMovie.title}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <p><span class="fw-bold">Popularidad: </span>{{selectedMovie.popularity}}</p>
                <p><span class="fw-bold">Lanzamiento: </span>{{selectedMovie.release_date}}</p>
                <p><span class="fw-bold">Presupuesto: </span>{{selectedMovie.budget}}</p>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>