<div class="row">
    <div class="col-12">
        <mat-form-field>
            <input type="text" placeholder="Buscar personaje" matInput [formControl]="myControl"
                [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let character of filteredOptions | async" [value]="character">
                    {{ character.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <ng-container *ngFor="let c of filteredOptions | async">
        <app-item-filter class="mt-2 col-3" [character]="c"></app-item-filter>
    </ng-container>
</div>